h1 {
    color: #ff8c00;
    background: linear-gradient(to right,#e66465, #9198e5);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
}
